{
  "openapi": "3.0.3",
  "info": {
    "title": "Financial Datasets API",
    "description": "Financial data API for company fundamentals, stock prices, and news",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.financialdatasets.ai"
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-KEY"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "paths": {
    "/financials/company-facts": {
      "get": {
        "operationId": "getCompanyFacts",
        "summary": "Get company facts and profile",
        "tags": ["Fundamentals"],
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "required": true,
            "description": "Stock ticker symbol",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with company facts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/financials/metrics": {
      "get": {
        "operationId": "getFinancialMetrics",
        "summary": "Get financial metrics for a company",
        "tags": ["Fundamentals"],
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "required": true,
            "description": "Stock ticker symbol",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period",
            "in": "query",
            "required": false,
            "description": "Reporting period",
            "schema": {
              "type": "string",
              "default": "annual"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results",
            "schema": {
              "type": "integer",
              "default": 5
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with financial metrics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/financials/metrics/snapshot": {
      "get": {
        "operationId": "getFinancialMetricsSnapshot",
        "summary": "Get latest financial metrics snapshot",
        "tags": ["Fundamentals"],
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "required": true,
            "description": "Stock ticker symbol",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with financial metrics snapshot",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/financials/income-statements": {
      "get": {
        "operationId": "getIncomeStatement",
        "summary": "Get income statements for a company",
        "tags": ["Fundamentals"],
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "required": true,
            "description": "Stock ticker symbol",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period",
            "in": "query",
            "required": false,
            "description": "Reporting period",
            "schema": {
              "type": "string",
              "default": "annual"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results",
            "schema": {
              "type": "integer",
              "default": 5
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with income statements",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/financials/balance-sheets": {
      "get": {
        "operationId": "getBalanceSheet",
        "summary": "Get balance sheets for a company",
        "tags": ["Fundamentals"],
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "required": true,
            "description": "Stock ticker symbol",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period",
            "in": "query",
            "required": false,
            "description": "Reporting period",
            "schema": {
              "type": "string",
              "default": "annual"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results",
            "schema": {
              "type": "integer",
              "default": 5
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with balance sheets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/financials/cash-flow-statements": {
      "get": {
        "operationId": "getCashFlowStatement",
        "summary": "Get cash flow statements for a company",
        "tags": ["Fundamentals"],
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "required": true,
            "description": "Stock ticker symbol",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period",
            "in": "query",
            "required": false,
            "description": "Reporting period",
            "schema": {
              "type": "string",
              "default": "annual"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results",
            "schema": {
              "type": "integer",
              "default": 5
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with cash flow statements",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/financials/filings": {
      "get": {
        "operationId": "getFilings",
        "summary": "Get SEC filings for a company",
        "tags": ["Filings"],
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "required": true,
            "description": "Stock ticker symbol",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Filing type",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with filings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/financials/filing-items": {
      "get": {
        "operationId": "getFilingItems",
        "summary": "Get filing items for a company",
        "tags": ["Filings"],
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "required": true,
            "description": "Stock ticker symbol",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "item",
            "in": "query",
            "required": false,
            "description": "Specific filing item",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with filing items",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/prices/snapshot": {
      "get": {
        "operationId": "getStockPriceSnapshot",
        "summary": "Get latest stock price snapshot",
        "tags": ["Prices"],
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "required": true,
            "description": "Stock ticker symbol",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with price snapshot",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/prices": {
      "get": {
        "operationId": "getStockPrices",
        "summary": "Get historical stock prices",
        "tags": ["Prices"],
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "required": true,
            "description": "Stock ticker symbol",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "description": "Price interval",
            "schema": {
              "type": "string",
              "default": "day"
            }
          },
          {
            "name": "interval_multiplier",
            "in": "query",
            "required": false,
            "description": "Interval multiplier",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "Start date",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "End date",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results",
            "schema": {
              "type": "integer",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with stock prices",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/news": {
      "get": {
        "operationId": "getNews",
        "summary": "Get news articles for a company",
        "tags": ["News"],
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "required": true,
            "description": "Stock ticker symbol",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with news articles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    }
  }
}
